<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects</title>
</head>
<body>
    <h1>This is the Project Section</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus commodi hic adipisci vero nesciunt, ducimus ab pariatur mollitia quae dolore tempore. Cumque eligendi, id odio ipsam ut aliquam itaque, explicabo laborum ab accusantium commodi, voluptates debitis quos alias quam. Vero ducimus, cumque dicta autem quis odit delectus expedita aperiam harum!</p>
</body>
</html>