<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing root</title>
</head>
<body>
  <h1>Welcome to {{user}} reef</h1>
  <p>5seconds until the minions have spawn</p>

  {{> footer}}
</body>
</html>